body{
    background: radial-gradient(circle at top left, #a3a3fa, #635585);
}

.guide b{
    color: rgb(163, 4, 4);
}

.guide p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}

h1
{
    color: rgb(163, 4, 4);
}

.guide{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.footer {
    background-color: #525151;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
  }
  
  .footer-text {
    color: #000000;
    text-align: center;
    font-size: 14px;
  }

  .logo  {
    position: absolute;
    top: 0px;
    right: 0px;
    
  }



  .Titolo {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Cubical';
    color: rgb(251, 75, 75);
    font-size: 50px;
    padding-left: 10px;
  }


  .firma
  {
    color: #000000;
    font-size: 50px;
  }


  .back
  {
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    background-color: lightgreen;
    color: green;
    position: relative;
    top: 250px;
  }