@font-face {
    font-family: 'Cubical'; 
    src: url('Font/Minecraft.ttf'); 
  }



body{

    background: radial-gradient(circle at top left, #00008B, #FFFFFF);
}

a{
    text-decoration: none;
}

.Titolo {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Cubical';
    color: rgb(251, 75, 75);
    font-size: 50px;
    padding-left: 10px;
  }
  
  
  .aziende {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: calc(25% + 120px);
    left: 10px;
    top: 350px;
  }
  
  
  .aziende a {
    width: calc(33.33% - 20px);
    font-family: 'Cubical';
    font-size: 50px;
    margin: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px black;
  }

  .Luxury
  {
    color: rgb(85, 4, 91);
    
  }
  .Private
  {
    color: rgb(255, 197, 61);
    
  }
  .Gioielleria
  {
    color: rgb(0, 149, 255);
  }
  .SoftAir
  {
    color: rgb(234, 255, 1);
  }
    
  .Scuola
  {
    color: rgb(2, 73, 92);
  }
  .Bosco_Verticale
  {
    color: rgb(5, 77, 12);
  }
  .Wind
  {
    color: rgb(255, 197, 5);
  }
  .Edicola
  {
    color: rgb(75, 5, 101);
  }
  .Masseria
  {
    color: rgb(250, 3, 3);
  }
  .McDonalds
  {
    color: rgb(169, 144, 0);
  }
  .Evian
  {
    color: rgb(2, 243, 207);
  }
  .Boutique
  {
    color: rgb(3, 46, 114);
  }
  .Market
  {
    color: rgb(92, 3, 3);
  }
  .Discoteca
  {
    color: rgb(143, 1, 208);
  }
  .Bar
  {
    color: rgb(55, 254, 10);
  }

  .footer {
    background-color: #525151;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
  }
  
  .footer-text {
    color: #000000;
    text-align: center;
    font-size: 14px;
  }

  .logo  {
    position: fixed;
    top: 0px;
    right: 0px;
    
  }

  .back
  {
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    background-color: lightgreen;
    color: green;
    position: relative;
    top: 250px;
  }


  
  
    