.opzioni {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: calc(25% + 120px);
    left: 10px;
    top: 300px;
  }



  body{

    background: radial-gradient(circle at top left, #00008B, #FFFFFF);
}

a{
    text-decoration: none;
}

.Titolo {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Cubical';
    color: rgb(251, 75, 75);
    font-size: 50px;
    padding-left: 10px;
  }


  .opzioni a {
    width: calc(33.33% + 100px);
    font-family: 'Cubical';
    font-size: 50px;
    margin: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px black;
  }


  .footer {
    background-color: #525151;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
  }
  
  .footer-text {
    color: #000000;
    text-align: center;
    font-size: 14px;
  }

  .logo  {
    position: absolute;
    top: 0px;
    right: 0px;
    
  }

  p
  {
    color: red;
  }